/*colors*/
$primary-color: rgba(246, 246, 246, 1);
$secondary-color: #FF6060;
$third-color: #000000;
$fourth-color: #FFFFFF;

/*font*/
$primary-font: "Monserrat", sans-serif;

/*font-weight*/
$light-weight: 400;
$middle-weight: 500;
$heavy-weight: 700;

/*breakpoints*/
$breakpoints: (
    "tablet": 1024px,
    "mobile" : 768px
)