@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.about {
    @include page-base 
}
.cardContainer {
    width: 83%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include respond-to("mobile"){
        width: 100%;
        row-gap: 20px;
    }
}
