@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";

.rating {
    display: flex;
    gap: 5px;
}

.starFull {
    width: 24px;
    height: auto;
    color: $secondary-color;
    @include respond-to("mobile"){
        width: 13px;
    }  
}
.starEmpty {
    width: 24px;
    height: auto;
    color: #E3E3E3;
    @include respond-to("mobile"){
        width: 13px;
    }  
}