@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";

.cardText {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    line-height: 1.43;
    box-sizing: border-box;

    @include respond-to("mobile"){
        padding: 10px;
        font-size: 12px;   
    }  
}