@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.home {
    max-width: 1440px;
    padding: 0 100px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}