@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";


.erreur {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 139px;
    margin: 139px 0 139px 0;
    @include respond-to("mobile"){
        row-gap: 113px;
        margin: 113px 0 113px 0;

    }
}
.erreur h1 {
    all: unset;
    font-size: 288px;
    font-weight: $heavy-weight;
    color: $secondary-color;
    @include respond-to("mobile"){
        font-size: 96px;
    }
}
.erreurText {
    border: 1px solid black;
    all: unset;
    font-size: 36px;
    font-weight: $middle-weight;
    color: $secondary-color;
    @include respond-to("mobile"){
        font-size: 18px;
    }
}
.erreur span{
    display:inline;
    @include respond-to("mobile"){
        display: block;
        text-align: center;
    }
}
.erreur a {
    all: unset;
    cursor: pointer;
    font-size: 18px;
    font-weight: $middle-weight;
    color: $third-color;
    border-bottom: 1px solid $third-color;
    @include respond-to("mobile"){
        font-size: 14px;
    }
}