@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";

header {
    padding: 45px 100px 0 100px;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    svg{
        height: 68px;
        width:auto;
        fill: $secondary-color;

        @include respond-to("mobile"){
            height: 47px;
        }
    }
    @include respond-to("mobile"){
        padding: 27px 20px 0 20px;
    }
}
ul {
    all:unset;
    display: flex;
    flex-direction: row;
    column-gap: 50px;

    @include respond-to("mobile"){
        column-gap: 25px;
    }
}
li {
    all:unset;
}
.pageLink{
    all: unset;
    font-size: 24px;
    font-weight: $middle-weight;
    cursor: pointer;
    border-bottom: 2px solid white;
    &:hover {
        border-bottom: 2px solid black;
    }
    @include respond-to("mobile"){
        text-transform: uppercase;
        font-size: 12px;
        border-bottom: 1px solid white;
    }
}
