@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";


.carousel { 
    width: 100%;
    height: 415px;
    border-radius: 25px;
    position: relative;
    color: $fourth-color;
    box-sizing: border-box;
    svg {
        all: unset;
        width: 47px;
        height: auto; 
        @include respond-to("mobile"){
            width: 20px;
        }  
    }
    @include respond-to("mobile"){
        height: 255px;
        border-radius: 10px;
    }     
}
.imageContainer {
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    top:0;
    left:0;
    z-index: 10;
    @include respond-to("mobile"){
        border-radius: 10px;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
        @include respond-to("mobile"){
            border-radius: 10px;
        }  
    } 
}
.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
    top:0;
    left:0;
    z-index: 11;
    box-sizing: border-box;
    @include respond-to("mobile"){
        padding: 10px;
        border-radius: 10px;
    }  
}
.pageNum {
    font-size: 18px;
    font-weight: $middle-weight;
    color: $fourth-color;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    @include respond-to("mobile"){
       display: none;
    }  
}