@import "../../assets/styles/utils/mixins";
@import "../../assets/styles/utils/variables";


.carousel {
    
    width: 100%;
    height: 415px;
    border-radius: 25px;
    position: relative;
    color: $fourth-color;
    box-sizing: border-box;
    svg {
        all: unset;
        width: 47px;
        height: auto;   
    }
}
.imageContainer {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 10;
}
.imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}
.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 11;
    box-sizing: border-box;

}

.pageNum {
    font-size: 18px;
    font-weight: $middle-weight;
    color: $fourth-color;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}