@import "./utils/variables";
@import "./utils/mixins";

:root {
    all:unset;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

}
body {
    line-height: 1.43;
    margin: 0;
    font-family: $primary-font;
    background-color: $fourth-color;
    color: $third-color;
}
