@import "./utils/variables";
@import "./utils/mixins";

.appContainer {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
}
body {
    line-height: 1.43;
    margin: 0;
    font-family: $primary-font;
    background-color: $fourth-color;
    color: $third-color;
}
